@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap');

* { margin: 0; padding: 0; font-family: 'Baloo Da 2', cursive; }

/* ********** NAVBAR ********* */
.navbar { background-color: #18b0b0 !important;}

.navbar-nav li { margin: 0px 10px; font-weight: 400;}

.navbar-nav li a { color: #fff; }